<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserDao">


    <!--添加  -->
    <insert id="addUser" parameterType="User">
        INSERT INTO TEST_USER
        (
			ID,
			USER_NAME,
			PASSWORD,
			AGE
		)
		VALUES
        (
            #{id},
            #{userName},
            #{password},
            #{age}
        )
    </insert>

    <!-- 修改密码 -->
    <update id="updateUser" parameterType="User">
        UPDATE TEST_USER SET PASSWORD = #{password},
        WHERE USER_NAME = #{userName}
    </update>


    <!--删除  -->
    <delete id="deleteUser" parameterType="User">
        DELETE FROM TEST_USER WHERE USER_NAME = #{userName}
    </delete>


    <!-- 查询单个 登陆比对用户名密码-->
    <select id="getUser" parameterType="User" resultType="User">
        SELECT * FROM TEST_USER WHERE USER_NAME = #{userName} and PASSWORD = #{password}
    </select>

    <!-- 查询单个id数据-->
    <select id="getUserById" parameterType="User" resultType="User">
        SELECT * FROM TEST_USER WHERE ID=#{id}
    </select>

    <!-- 查询所有数据 -->
    <select id="getUserList" parameterType="User" resultType="User">
        SELECT * FROM TEST_USER
        <where>
            <if test="null != userName and '' != userName">
                USER_NAME = #{userName}
            </if>
            <if test="null != password and '' != password">
                PASSWORD = #{password}
            </if>
            <if test="null != age and '' != age">
                AGE = #{age}
            </if>
        </where>
    </select>

</mapper>